!!!
%html(lang='en-US')
  %head
    %meta(charset='UTF-8')
    %meta(content='width=device-width' name='viewport')
    %title bb-8
    %link(href='styles.css' rel='stylesheet')
    %script(src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js')
    %script(src='https://unpkg.com/vue@2.1.3/dist/vue.js')
  %body
    %script#template-controls(type='text/x-template')
      %div
        %a.button(v-on:click='addBlock("heading")') Heading
        %a.button(v-on:click='addBlock("subheading")') Subheading
        %a.button(v-on:click='addBlock("single-image")') Image

    %script#template-bb8(type='text/x-template')
      %div
        %textarea(name='text' v-model='output' rows='8' cols='100')
        %controls(:index='-1')
        %hr
        %div
          %component(:is='block.blocktype' v-for='(block, index) in blocks' :initialData='block' :index='index' :key='block.id')

    %script#template-heading(type='text/x-template')
      %div
        %label Heading
        %input(:value='block.fields[0].content' v-on:input='updateText($event.target.value)' required)
        %controls(:index='index')
        %hr

    %script#template-subheading(type='text/x-template')
      %div
        %label Subheading
        %input(:value='block.fields[0].content' v-on:input='updateText($event.target.value)' required)
        %controls(:index='index')
        %hr

    %script#template-single-image(type='text/x-template')
      %div
        %label Image
        %input(type='file' name='file' v-on:change='updateImage($event)' required)
        %img(:src='block.fields[1].content')
        %label Alt
        %input(:value='block.fields[0].content' v-on:input='updateText($event.target.value)' required)
        %controls(:index='index')
        %hr

    %form#bb8-form(v-on:submit='submit($event)')
      %bb8(initial-json='[{"blocktype":"heading","fields":[{"type":"text","content":"Test","required":true}]},{"blocktype":"subheading","fields":[{"type":"text","content":"Blub","required":true}]},{"blocktype":"heading","fields":[{"type":"text","content":"Bla","required":true}]}]')

      %input(type='submit' value='submit')

    %script(src='bb-8.js')
